# NumPy Basics

In [1]:
import numpy as np

***
## Creating arrays

In [139]:
a = np.array([0, 1, 2, 3, 4])   #5x1
print(a)
print(a.shape)
b = np.array([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]], dtype = float)  #2x5
print(b)
c = np.array([[1, 6], [2, 7], [3, 8], [4, 9], [5, 10]], dtype = int)  #5x2
print(c.shape)
d = np.array([[[1,2],[1,2]],[[3,4],[5,6]]])
e = np.ones((5,2))

[0 1 2 3 4]
(5,)
[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]
(5, 2)

In [13]:
np.arange(0, 10)     # array of evenly spaced values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
np.zeros((2, 3))     # array of zeros with the given shape

array([[0., 0., 0.],
       [0., 0., 0.]])

In [15]:
np.ones(2)           # array of ones with the given shape

array([1., 1.])

In [16]:
np.empty((2, 3))     # empty array (arbitrary values)

array([[0., 0., 0.],
       [0., 0., 0.]])

In [17]:
np.full((2, 3), 3)   # fill new array with given shape

array([[3, 3, 3],
       [3, 3, 3]])

***
## Inspecting an array

In [18]:
b.size               # number of elements in the array

10

In [23]:
d.ndim               # number of dimensions

3

In [24]:
b.shape              # lengths of each dimension

(2, 5)

In [27]:
b.dtype              # data type of array elements

dtype('float64')

***
## Basic operations

### Element-wise arithmetic

In [45]:
np.add(b, np.transpose(c))   # element-wise addition (or np.add)

array([[ 1.,  3.,  5.,  7.,  9.],
       [11., 13., 15., 17., 19.]])

In [46]:
b - np.transpose(c)               # element-wise subtraction (or np.subtract)

array([[-1., -1., -1., -1., -1.],
       [-1., -1., -1., -1., -1.]])

In [69]:
print(b)
print(c)
b * np.transpose(c)            # element-wise multiplication (or np.multiply)

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]
[[ 1  6]
 [ 2  7]
 [ 3  8]
 [ 4  9]
 [ 5 10]]

array([[ 0.,  2.,  6., 12., 20.],
       [30., 42., 56., 72., 90.]])

In [70]:
b / np.transpose(c)                # element-wise division (or np.divide)

array([[0.        , 0.5       , 0.66666667, 0.75      , 0.8       ],
       [0.83333333, 0.85714286, 0.875     , 0.88888889, 0.9       ]])

### Aggregation

In [71]:
b.sum()              # sum elements

45.0

In [72]:
b.min()              # minimum element

0.0

In [73]:
b.max()              # maximum element

9.0

In [74]:
b.mean()             # mean of elements

4.5

### Element-wise comparison

In [75]:
a == a               # element-wise comparison

array([ True,  True,  True,  True,  True])

In [76]:
b < 2                # element-wise comparison

array([[ True,  True, False, False, False],
       [False, False, False, False, False]])

### Array-level equality

In [77]:
np.array_equal(a, b)  # check whether arrays have the same shape and elements

False

***
## Linear algebra

In [78]:
b.T                    # reverse the array dimensions (or np.transpose)

array([[0., 5.],
       [1., 6.],
       [2., 7.],
       [3., 8.],
       [4., 9.]])

In [80]:
b.dot(c)               # dot product (or np.dot)

array([[ 40.,  90.],
       [115., 290.]])

In [81]:
b @ c                  # matrix multiplication (or np.matmul)

array([[ 40.,  90.],
       [115., 290.]])

In [84]:
x = c.T @ c
np.linalg.inv(x)       # matrix inverse

array([[ 0.264, -0.104],
       [-0.104,  0.044]])

In [87]:
print(b)
b.trace()              # trace of a matrix

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]

6.0

In [88]:
np.eye(3)              # identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

***
## Universal functions (ufuncs)

In [90]:
print(a)
np.exp(a)              # exponential function

[0 1 2 3 4]

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [95]:
np.sin(a)              # sine function

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [96]:
np.log(c)              # natural logarithm

array([[0.        , 1.79175947],
       [0.69314718, 1.94591015],
       [1.09861229, 2.07944154],
       [1.38629436, 2.19722458],
       [1.60943791, 2.30258509]])

In [99]:
print(b)
np.abs(-b)              # absolute value

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]

array([[0., 1., 2., 3., 4.],
       [5., 6., 7., 8., 9.]])

In [98]:
np.power(b, 3)          # raise to a power

array([[  0.,   1.,   8.,  27.,  64.],
       [125., 216., 343., 512., 729.]])

***
## Copying arrays

In [100]:
aa = a.copy()          # make a deep copy of the array
aa.fill(0)
print(a)
print(aa)

[0 1 2 3 4]
[0 0 0 0 0]

In [101]:
aaa = aa.view()          # create a view of the array (points to the same data in memory)
aaa.fill(1)
print(aa)
print(aaa)

[1 1 1 1 1]
[1 1 1 1 1]

***
## Array manipulation

In [109]:
print(b)
b.ravel()              # flatten the array (or np.ravel)

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [108]:
b.reshape(5,2)         # change shape, but don't change values

array([[0., 1.],
       [2., 3.],
       [4., 5.],
       [6., 7.],
       [8., 9.]])

In [110]:
np.resize(b, (6,2))    # create a new array with a different shape

array([[0., 1.],
       [2., 3.],
       [4., 5.],
       [6., 7.],
       [8., 9.],
       [0., 1.]])

In [111]:
np.append(a, [1, 1])   # append values to the end of an array

array([0, 1, 2, 3, 4, 1, 1])

In [114]:
print(a)
np.insert(a, 2, [1, 1]) # insert values at a given location

[0 1 2 3 4]

array([0, 1, 1, 1, 2, 3, 4])

In [115]:
np.delete(a, [0,2])    # delete elements at given locations

array([1, 3, 4])

In [116]:
np.concatenate((b, b+10), axis = 0)  # concatenate arrays

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14.],
       [15., 16., 17., 18., 19.]])

In [117]:
np.r_[b, b + 10]        # shorthand: concatenate arrays along their first axis (row-wise)

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14.],
       [15., 16., 17., 18., 19.]])

In [118]:
np.c_[b, b + 10]        # shorthand: concatenate arrays along their second axis (column-wise)

array([[ 0.,  1.,  2.,  3.,  4., 10., 11., 12., 13., 14.],
       [ 5.,  6.,  7.,  8.,  9., 15., 16., 17., 18., 19.]])

In [119]:
np.split(b, 2, axis = 0) # split an array into sub-arrays

[array([[0., 1., 2., 3., 4.]]), array([[5., 6., 7., 8., 9.]])]

***
## Indexing/slicing

In [120]:
b[0,1]                     # select a single element (at row 0, column 1)

1.0

In [128]:
print(a)
a[0:4]                     # select a slice, all number from 0 upto 4, but not including 4

[0 1 2 3 4]

array([0, 1, 2, 3])

In [126]:
a[0:4:2]                   # select a slice with a stride

array([0, 2])

In [129]:
a[::-1]                    # select all elements in reverse

array([4, 3, 2, 1, 0])

In [136]:
print(b)
b[:,2]                     # select all elements along the first axis (all rows) and only the
                            #elements with index 2 along the second axis
                            #all rows in column 2

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]

array([2., 7.])

In [138]:
print(a)
a[:, np.newaxis]           # insert a new axis (here: convert a 1D array to a column vector)

[0 1 2 3 4]

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [142]:
print(b)
b[b>2]                     # boolean indexing

[[0. 1. 2. 3. 4.]
 [5. 6. 7. 8. 9.]]

array([3., 4., 5., 6., 7., 8., 9.])